# C++ ------------------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.pdb

# Executables
*.exe
*.out
*.app

/PlaylistFilterForSpotify/.clangd/
/PlaylistFilterForSpotify/.clangd/*
/PlaylistFilterForSpotify/.cache/*
/PlaylistFilterForSpotify/imgui.ini
/PlaylistFilterForSpotify/misc/imgui.ini
/PlaylistFilterForSpotify/misc/arial.ttf
*/imgui.ini
/PlaylistFilterForSpotify/compile_commands.json
/PlaylistFilterForSpotify/build
/PlaylistFilterForSpotify/build/*
secrets.h
